 @import url('https://fonts.googleapis.com/css?family=Slabo+27px');

* {
  font-family: "Slabo 27px";
}

#quote-box {
  width: 100%;
  height: 100vh;
  max-width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#text {
  font-size: 40px;
  font-style: italic;
  margin-bottom: 0;
  font-weight: normal;
}

#author {
  font-weight: normal;
  font-size: 18px;
}

.button-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#new-quote {
  border: none;
  background-color: white;
  cursor: pointer;
}

#tweet-button {
  border: none;
  color: #69C;
  background-color: white;
  cursor: pointer;
}
